<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Pizza Creed</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/4874d070ea.js"></script>
    <!-- Favicons -->
    <link rel="icon" th:href="@{/img/favicon.png}">
    <link rel="apple-touch-icon" th:href="@{/img/apple-touch-icon.png}">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/Forms.css}">
</head>
<body style="Background:#343434;">
<!-- ======= Header ======= -->
<header class="fixed align-items-center" id="header">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
        <h1 class="logo me-auto me-lg-0"><a th:href="@{/home}">Pizza Creed</a></h1>
        <nav class="navbar order-last order-lg-0" id="navbar">
            <ul>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->
<div style="color:white">
    <h1>Welcome to Pizza Creed Galle</h1>
    <p>Experience the irresistible taste of our handcrafted pizzas, meticulously prepared with the freshest and most exquisite ingredients. Whether you're a connoisseur of the timeless Margherita, yearn for the adventurous flavors of our signature pizzas, or desire to craft your own culinary masterpiece, we cater to the diverse preferences of every pizza enthusiast.

        Embrace the convenience of ordering online or indulge in a delightful visit to our store, where you can immerse yourself in the true essence of pizza perfection. Join us on a journey of flavors that will leave your taste buds craving for more. Discover the ultimate satisfaction that comes from savoring our exceptional pizzas!</p>
    <p>Order online or visit our shop to experience the true delight of pizza!</p>
</div>
<div>
    <div class="container" style="color:black;">
        <div class="card text-center">
            <div class="card-header">
                Product Management
            </div>
            <div class="card-body">
                <h5 class="card-title">Manages the Products in the System.</h5>
                <a class="btn btn-primary" th:href="@{/product}">Admin</a>
            </div>
            <div class="card-footer text-body-secondary">
            </div>
        </div>

        <div class="card text-center">
            <div class="card-header">
                Buy Products
            </div>
            <div class="card-body">
                <h5 class="card-title">Product Store</h5>
                <a class="btn btn-primary" th:href="@{/product}">Explore</a>
            </div>
            <div class="card-footer text-body-secondary">
            </div>
        </div>

        <div class="card text-center">
            <div class="card-header">
                LogOut
            </div>
            <div class="card-body">
                <h5 class="card-title">Logout from the System.</h5>
                <a class="btn btn-primary" th:href="@{/}">Logout</a>
            </div>
            <div class="card-footer text-body-secondary">
            </div>
        </div>
    </div>
</div>



<div id="preloader"></div>
<a class="back-to-top d-flex align-items-center justify-content-center" href="#"><i
        class="bi bi-arrow-up-short"></i></a>

<script th:src="@{/js/main.js}"></script>
</body>

</html>
